/* utility class */
.d_flex{
    display: flex;
}
.pding {
    padding: 2rem;
}
.dsp {
    display: none;
}
header {
    position: relative;
}
.txt_black{
    color: black;
}
.txt_white{
    color: white;
}
/* /utility class */
/* navbar */
section.navbar {
    justify-content: space-between;
}
.navbar a {
    color: rgb(177, 169, 169);
}

.navbar a:hover {
    text-decoration: none;
    color: black;
}
/* /navbar */
/* left bar */
img.logo {
    width: 5rem;
    height: auto;
}
/* /left bar */
/* navbar link content */
header li {
    list-style-type: none;
    line-height: 4rem;
}
.funzioni {
    border-radius: 5px;
    width: 70rem;
    position: absolute;
    left: 35%;
    box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.322);
}
.plan_cost {
    border-radius: 5px;
    width: 20rem;
    position: absolute;
    left: 50%;
    box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.322);
}
.information {
    border-radius: 5px;
    width: 20rem;
    position: absolute;
    left: 60%;
    box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.322);
}
.help_section{
    border-radius: 5px;
    width: 20rem;
    position: absolute;
    left: 65%;
    box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.322);
}
#access{
    padding: 10px 20px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: lightgray;
}
#access a {
    color: black;
}
#access:hover {
    background-color: rgb(190, 186, 186);
    cursor: pointer;
}
#app_down {
    margin-left: 1rem;
    padding: 10px 20px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: black;
}
#app_down:hover {
    background-color: rgb(56, 55, 55);
    cursor: pointer;
}
#app_down a {
    color: white;
}

/* per non far andar a capo nei sotto menù una voce, width : max-content alla Ul */
