/* utility class */
.d_flex{
    display: flex;
}
.pding {
    padding: 2rem;
}
.dsp {
    display: none;
}
.hide_class
header {
    position: relative;
}
/* /utility class */
/* navbar */
section.navbar {
    justify-content: space-between;
}
.navbar a {
    color: rgb(177, 169, 169);
}
.navbar a:hover {
    text-decoration: none;
    color: black;
}
/* /navbar */
/* left bar */
img.logo {
    width: 5rem;
    height: auto;
}
/* /left bar */
/* navbar link content */
header li {
    list-style-type: none;
    line-height: 4rem;
}
.funzioni {
    border-radius: 5px;
    width: 70rem;
    position: absolute;
    left: 40rem;
    box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.322);
}
.plan_cost {
    border-radius: 5px;
    width: 20rem;
    position: absolute;
    left: 72rem;
    box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.322);
}
.information {
    border-radius: 5px;
    width: 20rem;
    position: absolute;
    left: 85rem;
    box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.322);
}
.help_section{
    border-radius: 5px;
    width: 20rem;
    position: absolute;
    left: 95rem;
    box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.322);
}